body{
    margin: 0;
}
section{
    width: 85%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;

}
.header{
    background-color: #f8f9fa;
    padding: 20px 20px 40px 100px;
}
.logo{
    float: left;
    margin-right: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
nav ul{
    margin: 0;
    list-style-type: none;
}
nav ul li{
    float: left;
    text-align: center;
    width: 85px;
}
nav ul li a{
    text-decoration: none;
    color:black;
}
nav ul li a:hover{
    color: rgb(183, 183, 194);
}
.search{
    position: relative;
    float: right;
    right: 110px;
}
.search button{
    border: 1px solid green;
    padding: 5px;
    width: 80px;
    border-radius: 3px;
}
.search input{
    border-radius: 4px;
}
#color h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0px;
}
.primarycolor .box{
    border-radius: 10px;
    float: left;
    width: 150px;
    height: 160px;
    margin-right: 10px;
    /* background-color: yellow; */
}
.primarycolor, .secondarycolor{
    width: 100%;
    height: 160px;
}
.primarycolor .box div{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 0px ;
}
.primarycolor .box  .description{
    margin: 10px 0 0px 0;
    font-weight: bold;
}

.primarycolor .div1{
    background-color: #7749f8;
}

.primarycolor .div2{
    background-color: #5127cc;
}
.primarycolor .div3{
    background-color: #ebe5fc;
}

.primarycolor .div4{
    background-color: #027dfe;
}
.primarycolor .div5{
    background-color: #54595d;
}
.primarycolor .div6{
    background-color: #abb5be;
}
.primarycolor .div7{
    background-color: #28a745;
}
.primarycolor .div8{
    background-color: #dc3444;
}
.primarycolor .div9{
    background-color: #ffc007;
}
.primarycolor .div10{
    background-color: #14a2b8;
}
.primarycolor .div11{
    background-color: #6c757d;
}
.primarycolor .div12{
    background-color: #485056;
}
.primarycolor .div13{
    background-color: #343a3f;
}
.primarycolor .div14{
    background-color: #212529;
}
/* ========================= */

#typography h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0px;
}
.bodytext, .inlinetext{
    width: 50%;
    float: left;
}
.leadtext{
    clear: both;
}

/* ============== */

#tabs h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0;
}
.tabs{
    width: 50%;
}
.tabs button{
    color: #9874fb;
    padding: 20px 30px;
    background-color: white;
    margin-right: 0;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}
.tabs .active{
    color: black;
    border-bottom: 0px;
}

/* ================= */

#button h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0;
}
#button h3{
    clear: both;
}
.bigbox{
    width: 50%;
    clear: both;
}
.smallbox1, .smallbox2, .smallbox3{
    float: left;
    cursor: pointer;
}
.smallbox1{
    width: 100px;
}
.smallbox2{
    width: 150px;
}
.smallbox2 button:hover{
    background-color: white;
    color: #7749f8;
    cursor: pointer;
}
.smallbox3 button:hover{
    background-color: #7749f8;
    color: white;
    cursor: pointer;
}
.smallbox2 button{
    border: 1px solid #7749f8;
    background-color: #7749f8;
    border-radius: 2px;
    color: white;
}
.smallbox3 button{
    border: 1px solid #7749f8;
    background-color: white;
    border-radius: 2px;
    color: #7749f8;
}
.box2 button{
    background-color: #6c757d;
}
.box3 button{
    border: 1px solid #6c757d;
    color: #6c757d;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

  /* ========================= */

#forms h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0;
}
.navtags{
    width: 33%;
    float: left;
}
.navtags ul{
    list-style-type: none;
    padding: 0;
}
.navtags ul li{
    border: 1px solid #dee2e6;
    padding: 20px 20px 20px 10px;
}
.forms{
    float: right;
    width: 60%;
}
.forms .placehold{
    width: 400px;
    padding: 20px 20px;
    border: 1px solid #dee2e6;
    font-size: large;
}
.forms .disable{
    color: #cccccc;
}
.forms select{
    width: 400px;
    padding: 20px 20px;
    font-size: large;
}
.defaultcheckbox ,.inlinecheckbox{
    float: left;
}
.defaultcheckbox{
    width: 150px;
    height: 100px;
}
.defaultcheckbox input{
    margin: 0px;
}
.defaultradio{
    float: left;
    width: 150px;
    height: 100px;
}
.success{
    width: 400px;
    padding: 20px 20px;
    border: 1px solid green;
    border-radius: 4px;
    font-size: large;
}
.error{
    width: 400px;
    padding: 20px 20px;
    border: 1px solid red;
    font-size: large;
    border-radius: 4px;
}
/* ===========*/
#listGroup h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0;
}
.content1{
    width: 60%;
    float: left;
    margin: 0;
}
.content1 ul{
    padding: 0;
    list-style-type: none;
}
.content1 ul li{
    padding: 10px 5px;
    border: 1px solid #dee2e6 ;
    width: 50%;
}
.content2{
    float: right;
    width: 40%;
}
.contentbox{
    width: 80%;
}
.contentbox .row{
    color: white;
    background-color: #7749f8;
    padding: 8px 20px;
    border: 1px solid #dee2dd;
}
.contentbox .row2{
    color: black;
    padding: 8px 20px;
    border: 1px solid #dee2dd;
}
/* =============== */
#table h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0;
}
#table table{
    border-right: white;
    border-left: white;
    border: #dee2dd;
}
.panel{
    float: right;
    padding: 30px 0px;
}
.panel button{
    width: 80px;
    padding: 20px 20px;
    border-radius: 5px;
}
.panel .three{
    background-color: #efefef;
    color: #7749f8;
    border-color: #212121;
}
#card h1{
    font-size: 50px;
    margin: 2dvb;
    margin-left: 0;
}
.card, .card2, .card3{
    width:350px;
    height: 350px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0,0.8);
    float: left;
    margin-right: 30px;
}
.card .upper img, .card .upper .description{
    float: left;
}
.card .upper img{
    padding: 15px 5px;
}
.card .upperbottom{
    padding: 20px;
    text-align: center;
}
.card .upperbottom img{
    width: 60px;
    height: 30px;
    padding-left: 20px;
}
#card .lowerbottom{
    box-shadow: 1px 1px 5px rgba(0, 0, 0,0.8);
    text-align: center;
    width: 350px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.lowerbottom img{
    float: left;
    padding-left: 50px;
}
.lowerbottom input{
    float: left;
    margin-top: 8px;
}
.card2{
    position: relative;
    text-align: center;
    margin-right: 30px;
}
.card2 .player{
    position: absolute;
    top: 180px;
    left: 135px;
}
.card3{
    height: 420px;
}
.card3 button{
    background-color: green;
    border-radius: 15px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
.card3 p{
    margin-left: 20px;
}

.card3 .upper .description{
    float: left;
    font-size: 12px;
}
.card3 .upper >*{
    float: left;
    margin-top: 15px;
    text-align: left;
}